@model BudgetPlanner.Models.Ingave

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ingave</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bedrag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bedrag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bedrijf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bedrijf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class="col-sm-10">
            @if (!String.IsNullOrEmpty(Model.ProductImage))
            {
                <img src="@Model.ProductImage" class="medium" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IngaveId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
